.headerBar {
  background-color: #4c6fc3;
  color: #fbffff;
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #4869bf;
  padding: 0;
}

.headerBar-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  margin-left: 8px;
}
.headerBar-middle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.headerBar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 0;
  margin-right: 8px
}

.headerBar h1 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  padding-top: 8px;
  padding-left: 8px;
  display: flex;
}

.headerBar .icon {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.headerBar-organisation {
  display: flex;
  font-size: 14px;
  color: #fbffff;
  line-height: 14px;
  padding-top: 8px;
}

.headerBar-quickActions {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 16px;
}

